body {
  background-color: black
}

.gh {
  display: inline-block;
  float: right;
  margin-top: -10px;
  margin-right: -50px;
}

.jumbotron {
  padding: 15px;
  background-color: white;
  width: 100%;
}

h2 {
  margin-top: 5px;
  margin-left: -20px;
  margin-bottom: 10px;
}

h4 {
  margin-top: -5px;
  margin-left: -20px;
  margin-bottom: 10px;
  display: inline;
}

#bio {
  margin-bottom: 15px;
  padding-top: 10px;
  margin-left: -20px;
  margin-top: 5px;
}

.linkedin {
  padding: none;
  padding-botton: 10px;
}

.none {
  color: white;
  font-size: 20px;
  text-align: center;
}
.insta {
  height: 300px;
  opacity: 0.75;
  margin-bottom: 30px;
  margin-left: -75px;
  margin-right: -75px;  
  background-image: url('./assets/instatrip.jpg');
}

.kraks {
  height: 300px;
  margin-bottom: 30px; 
  opacity: 0.75;
  margin-left: -75px;
  margin-right: -75px;  
  background-image: url('./assets/marketplace.jpg');
  background-repeat: no-repeat;
  background-position: 40% 40%;
}
.jumbotron {
  margin: 10px;
}

.goodworld {
  height: 300px;
  opacity: 0.75;
  margin-bottom: 30px; 
  margin-left: -75px;
  margin-right: -75px;  
  background-image: url('./assets/goodworld.jpg'); 
  background-position: 50% 90%;

}

.hover {
  opacity: 1;
}

.proj-btn {
  margin-top: 175px;
  opacity: 1;
  margin-left: 10px;
  background-color: black;
  border: none;
}

#proj-btn-text {
  width: 150px;
}

.proj-text {
  color: black;
  font-size: 16px;
  color: white;
  background-color: black;
  position: inline;
  margin-top: 25px;
  margin-left: 0px;
  font-family: Verdana;
}

#proj-btn-text {
  text-align: center;
}

#name {
  text-decoration: none;
  color: black;
}
